<% include ../layout/header.html %>
<div class="container">
  <!-- Page Content goes here -->

  <h1>Register</h1>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="username" type="text" class="validate">
          <label for="username">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="confirm-password" type="password" class="validate">
          <label for="confirm-password">Confirm Password</label>
        </div>
      </div>
      <button id="btn-reg" class="btn waves-effect waves-light" type="button" name="action">Register
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
</div>
<script src="/js/user/reg.js"></script>
<% include ../layout/footer.html %>
